{% extends 'base.html.twig' %}

{% block title %}Post List{{ parent() }}{% endblock %}

{% block body %}
    <main class="container post">
        <h1 class="is-size-2 my-5">
            {{ 'post.show_all'|trans({}, 'titles') }}
        </h1>
        {% for post in posts %}

            <article id="post-{{ post.id }}" class="message container is-max-widescreen box">

                <div class="level message-header">
                    <div class="level-left">
                        <div class="has-text-centered mr-4">
                            <a class="material-icons" href="{{ path("post_vote_up",  {
                                id: post.id,
                                csrf_token: csrf_token('post_vote_up')
                            }) }}">expand_less</a>
                            <br>
                            <span>{{ post.total }}</span>
                            {{ post.total }}
                            <br>
                            <a class="material-icons" href="{{ path("post_vote_down",  {
                                id: post.id,
                                csrf_token: csrf_token('post_vote_down')
                            }) }}">expand_more</a>
                        </div>
                        {{ post.user.pseudo }}
                    </div>
                    <div class="level-right">
                        {{ post.createdAt|date }}
                    </div>
                </div>

                <div class="notification is-white message-body">
                    <h2 class="title">
                        <a href="{{ path('post_show', { id: post.id }) }}">
                            {{ post.title }}
                        </a>
                    </h2>
                    <hr>
                    <p>{{ post.content }}</p>
                    <br>
                </div>

            </article>
            <br/>

        {% endfor %}
    </main>
{% endblock %}
