{% extends 'base.html.twig' %}

{% block title %}Login {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <form class="my-5" method="post" novalidate>
            <h1 class="is-size-2 my-5">
                {{ 'security.login'|trans({}, 'titles') }}
            </h1>
            <label class="label" for="inputEmail">
                {{ 'user.email'|trans({}, 'messages') }}
            </label>
            {% if error %}
                {% include '_shared/alert.html.twig' with { error: error.messageKey|trans({},'security'), level: 'danger' } %}
            {% endif %}
            <div class="control">
                <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" required
                       autofocus>
            </div>
            <label class="label" for="inputPassword">
                {{ 'user.password'|trans({}, 'messages') }}
            </label>
            <div class="control">
                <input class="input" type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="my-3">
                <label class="checkbox">
                    <input type="checkbox" name="_remember_me">
                    {{ 'security.remember'|trans({}, 'actions') }}
                </label>
            </div>
            <div class="control my-4">
                <button class="button is-primary" type="submit">
                    {{ 'security.login'|trans({}, 'actions') }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
