{% extends is_granted('ROLE_USER') ? 'base_member.html.twig' : 'base_visitor.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        {% if not is_granted('ROLE_USER') %}
            <h1 class="col">Meal App</h1>
            <p>
                <span class="display-4">
                    Organisez ou Rejoignez des repas confidentiels
                </span>
                <br>
            <div class="text-end text-white">
                <a class="btn btn-lg btn-success text-white" href="{{ path('register') }}">
                    Inscription
                </a>
                <a class="btn btn-lg btn-primary" href="{{ path('login') }}">
                    Login
                </a>
            </div>
            </p>
        {% else %}
            <h1 class="col">Dashboard</h1>
            <div class="text-end text-white">
                <a class="btn btn-lg btn-success" href="{{ path('meal') }}">
                    Voir les repas
                </a>
                <a class="btn btn-lg btn-primary" href="{{ path('meal_new') }}">
                    Créer un repas
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
