{% extends 'base_member.html.twig' %}

{% block title %}Les Repas - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row row w-100 h-25">
        <h1>Liste des Repas</h1>
        <div class="col-12">
            <div class="my-4">
                <a href="?"
                   class="badge badge-pill badge-info bg-{{ categoryName ? 'dark' : 'primary' }} text-white p-2">
                    Toutes
                </a>
                {% for category in  categoryList %}
                    <a href="?category={{ category.name }}"
                       class="badge badge-pill badge-info bg-{{ category.name == categoryName ? 'primary' : 'dark' }} text-white p-2">
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="my-4">
                {% if not mealList %}
                    <h2>Aucun Repas ne correspond aux critères</h2>
                {% endif %}
                <ul>
                    {% for meal in mealList %}
                        <a href="{{ path('meal_show', { id: meal.id }) }}">
                            <li class="card p-3 my-4 text-dark">
                                <p class="w-100 card-title display-3">
                                    {{ meal.name }}
                                </p>
                                <p class="p-0 w-100 card-body">
                                    {{ meal.description }}
                                </p>
                                <br>
                                <span class="mt-3">
                                    Créé le
                                    <strong>
                                        {{ meal.date|date('Y/m/d') }}
                                    </strong>
                                </span>
                                <br>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {#
        <ul> #}
        {# {% for meal in mealList %} #}
        {# <li> #}
        {# Id: {{ meal.id }} <br> #}
        {# <a href="{{ path('meal_show', { #}
        {# id: meal.id #}
        {# }) }}">Name: {{ meal.name }}</a><br> #}
        {# Description: {{ meal.description }} <br> #}
        {# Attendees: {{ meal.maxAttendees }} <br> #}
        {# Date: {{ meal.date|date('Y/m/d : h-i') }} <br> #}
        {# User: {{ meal.createdBy.email }} <br> #}
        {# Category: #}
        {# {% for category in meal.categories %} #}
        {# {{ category.name }} #}
        {# {% endfor %} #}
        {# </li> #}

        {# {% endfor %} #}
        {# </ul> #}

    </div>
{% endblock %}
