{% extends 'base_member.html.twig' %}

{% block title %}Nouveau Repas - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row w-100">
        <h1>Nouveau Repas</h1>
        {{ form_start(form, { attr: { class: 'col-12 row', novalidate: 'novalidate' } }) }}
        <div class="col-12 col-md-7">
            <div class="mb-2 mt-2">
                {{ form_label(form.name, 'Intitulé du repas' ) }}
                {% if not form.name.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.name) }}</div>
                {% endif %}
                {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
            </div>
            <div class="mb-2 mt-2">
                {{ form_label(form.description, 'Ambiance' ) }}
                {% if not form.description.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.description) }}</div>
                {% endif %}
                {{ form_widget(form.description, { attr: { class: 'form-control' } }) }}
            </div>
            <div class="mt-4">
                {{ form_label(form.maxAttendees, 'Capacité maximum') }}:
                {% if not form.maxAttendees.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.maxAttendees) }}</div>
                {% endif %}
                <span class="range-value">5</span>
                {{ form_widget(form.maxAttendees, { attr: { class: 'form-range', onchange: 'updateRangeValue()' } }) }}
                <script type="text/javascript">
                    const updateRangeValue = () => document.querySelector('.range-value').innerText = document.querySelector('.form-range').value;
                </script>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="mb-2 mt-2 row">
                {{ form_label(form.date, 'Date' ) }}
                {% if not form.date.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.date) }}</div>
                {% endif %}
                <div class="col-4">
                    {{ form_widget(form.date.date.year, { attr: { class: 'form-select', placeholder: 'Année' } }) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.date.date.month, { attr: { class: 'form-select' } }) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.date.date.day, { attr: { class: 'form-select' } }) }}
                </div>
            </div>
            <div class="mb-2 mt-2 row">
                {{ form_label(form.date, 'Horaire' ) }}
                <div class="col-6">
                    {{ form_widget(form.date.time.hour, { attr: { class: 'form-select' } }) }}
                </div>
                <div class="col-6">
                    {{ form_widget(form.date.time.minute, { attr: { class: 'form-select' } }) }}
                </div>
            </div>
            <div class="mb-2 mt-5 pt-4 row justify-content-center">
                <button type="submit" class="w-75 btn btn-success">Créer</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
