{% extends 'base.html.twig' %}

{% block title %}Signup {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">

        {{ form_start(form, { attr: {
            novalidate: 'novalidate',
            class: 'my-5'
        }}) }}

        <h1 class="is-size-2 my-5">Signup</h1>

        {% if form.vars.errors|length %}
            {% include '_shared/alert.html.twig' with { error: form_errors(form)} %}
        {% endif %}

        {{ form_label(form.email, "", { label_attr: { class: 'label' }}) }}
        {% if not form.email.vars.valid %}
            {% include '_shared/alert.html.twig' with { error: form_errors(form.email)} %}
        {% endif %}
        {{ form_widget(form.email, { attr: { class: 'input' }}) }}

        {{ form_label(form.pseudo, "", { label_attr: { class: 'label' }}) }}
        {% if form.pseudo.vars.valid == false %}
            {% include '_shared/alert.html.twig' with { error: form_errors(form.pseudo)} %}
        {% endif %}
        {{ form_widget(form.pseudo, { attr: { class: 'input', autofocus: 'autofocus' }}) }}

        {{ form_label(form.password.first, "Password", { label_attr: { class: 'label' }}) }}
        {% if not form.password.vars.valid %}
            {% include '_shared/alert.html.twig' with { error: form_errors(form.password.first)} %}
        {% endif %}
        {{ form_widget(form.password.first, { attr: { class: 'input' }}) }}
        {{ form_label(form.password.second, "Confirm", { label_attr: { class: 'label' }}) }}
        {{ form_widget(form.password.second, { attr: { class: 'input' }}) }}

        <div class="control my-4">
            <button class="button is-primary" type="submit">Sign up</button>
        </div>

        {{ form_end(form) }}

    </main>
{% endblock %}
