{{ form_start(form, { attr: {
    novalidate: 'novalidate',
    class: 'my-5'
}}) }}

{% if form.vars.errors|length %}
    {% include '_shared/alert.html.twig' with { error: form_errors(form), level: 'danger' } %}
{% endif %}

{{ form_label(form.content, "post.content", { label_attr: { class: 'label' }}) }}
{% if not form.content.vars.valid %}
    {% include '_shared/alert.html.twig' with { error: form_errors(form.content), level: 'danger' } %}
{% endif %}
{{ form_widget(form.content, { attr: { class: 'input' }}) }}

<div class="control my-4">
    <button class="button is-primary" type="submit">
        {{ 'comment.new'|trans({}, 'actions') }}
    </button>
</div>

{{ form_end(form) }}