{% extends 'base_member.html.twig' %}

{% block title %}Profile - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row  w-100">
        <h1 class="col">Profile</h1>
        {{ form_start(form, { attr: { class: 'col-12 row', novalidate: 'novalidate' } }) }}
        <div class="col-12 col-md-5">
            <div class="my-3 mx-auto avatar"
                 style="{{ profile.avatar ?  ' background-image: url("' ~  asset('uploads/' ~ profile.avatar)  ~ '");' : '' }}"></div>
            <div class="my-2">
                {% if not form.avatar.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.avatar) }}</div>
                {% endif %}
                {{ form_widget(form.avatar, { attr: { class: 'form-control' } }) }}
            </div>
            <div class="my-2">
                {{ form_label(form.gender, 'Genre' ) }}:
                {% if not form.gender.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.gender) }}</div>
                {% endif %}
                {% for gender in  form.gender.children %}
                    {{ form_widget(gender, { attr: { class: 'form-check-input' } }) }}
                    {{ form_label(gender, '', { label_attr: { class: 'form-check-label' } }) }}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="mt-4">
                {{ form_label(form.age, 'Age') }}:
                {% if not form.age.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.age) }}</div>
                {% endif %}
                <span class="range-value">{{ profile.age ? profile.age : 50 }}</span>
                {{ form_widget(form.age, { attr: { class: 'form-range', min:13, max: 90, onchange: 'updateRangeValue()' } }) }}
                <script type="text/javascript">
                    const updateRangeValue = () => document.querySelector('.range-value').innerText = document.querySelector('.form-range').value;
                </script>
            </div>
            <div class="my-2">
                {{ form_label(form.address, 'Adresse' ) }}
                {% if not form.address.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.address) }}</div>
                {% endif %}
                {{ form_widget(form.address, { attr: { class: 'form-control' } }) }}
            </div>
            <div class="my-2">
                {{ form_label(form.description, 'Description' ) }}
                {% if not form.description.vars.valid %}
                    <div class="alert alert-danger">{{ form_errors(form.description) }}</div>
                {% endif %}
                {{ form_widget(form.description, { attr: { class: 'form-control' } }) }}
            </div>

            <div class="mb-2 mt-5 pt-4 row justify-content-center">
                <button type="submit" class="w-75 btn btn-success">Sauvegarder</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
